$max-width: 400px;
$max-height: 400px;

body {
    background: blue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: $max-width;
    height: $max-height;
    color: #333;
    margin: 150px auto;
    border-radius: 10px;
    background: #fff;
    font-family: 'Kumbh Sans', sans-serif;

    .bar {
        width: 100%;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(160, 160, 160, 0.25);
    }

    .header-img {
        width: 400px;
        height: 200px;
        img {
           width: 100%;
           border-radius: 10px 10px 0 0;
        }
    }

    .profile-img {
        width: 100%;
        text-align: center;
        border-radius: 100%;
        position: relative;
        
        img {
            position: absolute;
            bottom: .5rem;
            left: 150px;
            border: #fff 5px solid;
            border-radius: 100%;
        }
    }

    .text {
        margin: auto auto;
        text-align: center;
        justify-content: center;
        line-height: .2;

    }

    .columns {
        display: flex;

        .cm {
        flex-direction: column;
        text-align: center; 
        margin: 0 40px 40px 40px;
        line-height: 1px;

            p {
                font-size: 14px;
            }
        }
    }
}